.login-page-outer-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-page-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.picture {
    margin-left: 40px;
    width: 50%;
    height: 75%;
    background-image: url('../../../public/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: black;
    outline-width: 0.15rem;
    outline-style: solid;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.content {
    position: relative;
    z-index: 2;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-and-login-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 100%;
}

.login-form-container {
    margin-right: 40px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline-style: solid;
    outline-width: 0.15rem;
    box-shadow: black;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.5);
}

.login-page-form-header {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    z-index: 5;
}

.bilkent-header-style {
    font-size: '24px';
    font-weight: 'bold';
    color: #ec2f38;
}

.login-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 70%;
}

.login-form-button {
    width: 100%;
    height: 50px;
    background-color: #ec2f38 !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.login-form-button:hover {
    background-color: #db9397 !important;
}

.login-form-footer {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-footer-outer-cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    z-index: 5;
}


.google-login {
    margin-top: 15px;
    width: max-content;
    height: 40px;
    background-color: white !important;
    color: black !important;
    border: none;
    border-radius: 24px;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer;
    outline-style: solid !important;
    outline-width: 0.15rem !important;
    outline-color: rgb(155, 155, 155) !important;
    z-index: 5;
}

.google-icon {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
}

.google-login:hover {
    cursor: pointer;
    background-color: #f3f3f3 !important;
}

.forgot-password {
    color: black !important;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    text-decoration: underline;
}


.register-link-container {
    margin-right: 40px;
    width: 50%;
    height: 10%;
    outline-style: solid;
    outline-width: 0.15rem;
}

.register-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: inherit;
    color: black;
    z-index: 10;
    font-size: 16px;
}

.register-link-class {
    color: #e9686f !important;
    font-weight: bold !important;
    cursor: pointer;
}