/* Tüm linklerde (a etiketlerinde) alt çizgiyi kaldır */
a {
  text-decoration: none !important; /* Alt çizgiyi kaldır */
}

.app-bar {
  background-color: #f3f3f3 !important;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: none !important;
  margin-top: 8px !important;
  border-radius: 24px !important;
  width: 92vw !important;
  margin-left: 4% !important;
  right: auto !important;
  left: auto !important;
  opacity: 0.85 !important;
}

.styled-toolbar {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}

.styled-right-toolbar {
  justify-content: flex-end !important;
  flex-grow: 1;
  display: flex;
}

.search-bar-search-logo {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  color: black;
}

.search-bar-search-logo2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  cursor: default;
  color: black;
}

.bilkent-header-style {
  font-size: "24px";
  font-weight: "bold";
  color: #ec2f38;
}
