.tours-main-container {
  margin-top: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  padding: 0px !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: transparent !important;
  position: relative !important;
  max-width: 100vw !important;
  height: 100vh;
  align-items: center !important;
  overflow: hidden !important;
}

.tours-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  flex-direction: row;
  justify-content: start;
  position: relative;
  align-items: center;
  background-color: whitesmoke !important;
}

.tours-left-cont {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  /* background-color: white; */
}

.tours-right-cont {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  /* background-color: rgb(106, 189, 12); */
}

.tours-management-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 18px;
  width: 95%;
  height: 96%;
  background-color: white;
  padding: 15px;
}

.tours-management-cont.header {
  cursor: pointer;
  justify-content: center;
  gap: 5%;
  flex-direction: row !important;
  color: black;
  font-size: 30px;
  height: min-content;
  font-weight: bold;
}

.tours-calender-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px !important;
  width: 95%;
  height: 96%;
  padding: 0px;
  background-color: white;
}

.tours-calender-cont.calender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  width: 100%;
  height: 85%;
  /* padding: 0px 0px 0px 0px; */
  padding: 0px;
  padding-top: 40px;
  /* background-color: red; */
}

.tours-calender-cont.calenderSchool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  /* padding: 0px 0px 0px 0px; */
  padding: 40px 0px;
  /* background-color: red; */
}

.tours-calender-cont.advisor-panel {
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  width: 100%;
  height: 15%;
  /* background-color: green; */
}

.tours-calender-cont.advisor-panel.detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  gap: 0px;
  font-size: 16px;
  width: max-content;
  border-radius: 24px;
  height: 100px;
  background-color: black;
}

.advisor-detail-format {
  display: flex;
  align-items: center;
}

.advisor-detail-format2 {
  margin-right: 5px;
  font-weight: bold;
}

.tours-management-cont.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 18px;
  width: 100%;
  background-color: white;
  padding: 0px 10px !important;
  overflow: auto;
}

.tours-tour-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tours-tour-location {
  font-weight: bold;
  color: #4a4a4a;
}

.tours-tour-date {
  color: #8a8a8a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.tours-tour-time {
  color: #8a8a8a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.tours-tour-datetime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.tours-tour-body {
  margin-bottom: 16px;
}

.tours-tour-school {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
}

.tours-tour-details {
  font-size: 0.9em;
  color: #757575;
}

.tours-tour-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours-tour-rating {
  font-size: 1em;
  color: #f39c12;
}

.tours-tour-guide-info {
  font-size: 0.9em;
  color: #4a4a4a;
}

.tour-card-detail-format {
  display: flex;
  align-items: center;
}

.tour-card-detail-format2 {
  margin-right: 5px;
  font-weight: bold;
  width: 300px;
  margin: 5px 0px;
}
